@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    background-color: #0a0e1a;
  }
  
  body {
    @apply antialiased text-gray-100;
    background-color: #0a0e1a;
  }
}

